@include keyframes(mastheadImg){
  0% {
    top: -10px;
  }
  100%{
    top: 0;
  }
}

@include keyframes(verticalLIne){
  0% {
    height: 0;
  }
  100%{
    height: 60px;
  }

}

@include keyframes(flyingFan){
  0% {
    padding-bottom: 10px;
  }
  100%{
    padding-bottom: 0;
  }

}

@include keyframes(pulse){
  0% {
    @include transform(scale(0,0))
  }
  50%{
    @include transform(scale(1.2,1.2))
  }
  100%{
    @include transform(scale(1,1))
  }
}

@include keyframes(mastheadBg){
  0% {
    background-position: center 60% ;
  }
  100%{
    background-position: center 50% ;
  }
}

@include keyframes(verticalLIne){
  0% {
    height: 0;
  }
  100%{
    height: 60px;
  }

}