/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arr-b-s-d-name: 'arr-b-s-d';
$arr-b-s-d-x: 66px;
$arr-b-s-d-y: 107px;
$arr-b-s-d-offset-x: -66px;
$arr-b-s-d-offset-y: -107px;
$arr-b-s-d-width: 11px;
$arr-b-s-d-height: 7px;
$arr-b-s-d-total-width: 210px;
$arr-b-s-d-total-height: 194px;
$arr-b-s-d-image: 'sprite.png';
$arr-b-s-d: (66px, 107px, -66px, -107px, 11px, 7px, 210px, 194px, 'sprite.png', 'arr-b-s-d', );
$arr-b-s-u-name: 'arr-b-s-u';
$arr-b-s-u-x: 50px;
$arr-b-s-u-y: 107px;
$arr-b-s-u-offset-x: -50px;
$arr-b-s-u-offset-y: -107px;
$arr-b-s-u-width: 11px;
$arr-b-s-u-height: 7px;
$arr-b-s-u-total-width: 210px;
$arr-b-s-u-total-height: 194px;
$arr-b-s-u-image: 'sprite.png';
$arr-b-s-u: (50px, 107px, -50px, -107px, 11px, 7px, 210px, 194px, 'sprite.png', 'arr-b-s-u', );
$arr-b-name: 'arr-b';
$arr-b-x: 50px;
$arr-b-y: 94px;
$arr-b-offset-x: -50px;
$arr-b-offset-y: -94px;
$arr-b-width: 40px;
$arr-b-height: 8px;
$arr-b-total-width: 210px;
$arr-b-total-height: 194px;
$arr-b-image: 'sprite.png';
$arr-b: (50px, 94px, -50px, -94px, 40px, 8px, 210px, 194px, 'sprite.png', 'arr-b', );
$arr-down-name: 'arr-down';
$arr-down-x: 103px;
$arr-down-y: 147px;
$arr-down-offset-x: -103px;
$arr-down-offset-y: -147px;
$arr-down-width: 12px;
$arr-down-height: 9px;
$arr-down-total-width: 210px;
$arr-down-total-height: 194px;
$arr-down-image: 'sprite.png';
$arr-down: (103px, 147px, -103px, -147px, 12px, 9px, 210px, 194px, 'sprite.png', 'arr-down', );
$arr-drop-name: 'arr-drop';
$arr-drop-x: 112px;
$arr-drop-y: 94px;
$arr-drop-offset-x: -112px;
$arr-drop-offset-y: -94px;
$arr-drop-width: 12px;
$arr-drop-height: 7px;
$arr-drop-total-width: 210px;
$arr-drop-total-height: 194px;
$arr-drop-image: 'sprite.png';
$arr-drop: (112px, 94px, -112px, -94px, 12px, 7px, 210px, 194px, 'sprite.png', 'arr-drop', );
$arr-drop2-name: 'arr-drop2';
$arr-drop2-x: 95px;
$arr-drop2-y: 94px;
$arr-drop2-offset-x: -95px;
$arr-drop2-offset-y: -94px;
$arr-drop2-width: 12px;
$arr-drop2-height: 7px;
$arr-drop2-total-width: 210px;
$arr-drop2-total-height: 194px;
$arr-drop2-image: 'sprite.png';
$arr-drop2: (95px, 94px, -95px, -94px, 12px, 7px, 210px, 194px, 'sprite.png', 'arr-drop2', );
$arr-l-a-name: 'arr-l-a';
$arr-l-a-x: 140px;
$arr-l-a-y: 0px;
$arr-l-a-offset-x: -140px;
$arr-l-a-offset-y: 0px;
$arr-l-a-width: 15px;
$arr-l-a-height: 23px;
$arr-l-a-total-width: 210px;
$arr-l-a-total-height: 194px;
$arr-l-a-image: 'sprite.png';
$arr-l-a: (140px, 0px, -140px, 0px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-l-a', );
$arr-l-d-name: 'arr-l-d';
$arr-l-d-x: 140px;
$arr-l-d-y: 56px;
$arr-l-d-offset-x: -140px;
$arr-l-d-offset-y: -56px;
$arr-l-d-width: 15px;
$arr-l-d-height: 23px;
$arr-l-d-total-width: 210px;
$arr-l-d-total-height: 194px;
$arr-l-d-image: 'sprite.png';
$arr-l-d: (140px, 56px, -140px, -56px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-l-d', );
$arr-n-p-name: 'arr-n-p';
$arr-n-p-x: 140px;
$arr-n-p-y: 28px;
$arr-n-p-offset-x: -140px;
$arr-n-p-offset-y: -28px;
$arr-n-p-width: 15px;
$arr-n-p-height: 23px;
$arr-n-p-total-width: 210px;
$arr-n-p-total-height: 194px;
$arr-n-p-image: 'sprite.png';
$arr-n-p: (140px, 28px, -140px, -28px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-n-p', );
$arr-next-blue-calendar-name: 'arr-next-blue-calendar';
$arr-next-blue-calendar-x: 93px;
$arr-next-blue-calendar-y: 165px;
$arr-next-blue-calendar-offset-x: -93px;
$arr-next-blue-calendar-offset-y: -165px;
$arr-next-blue-calendar-width: 6px;
$arr-next-blue-calendar-height: 10px;
$arr-next-blue-calendar-total-width: 210px;
$arr-next-blue-calendar-total-height: 194px;
$arr-next-blue-calendar-image: 'sprite.png';
$arr-next-blue-calendar: (93px, 165px, -93px, -165px, 6px, 10px, 210px, 194px, 'sprite.png', 'arr-next-blue-calendar', );
$arr-p-p-name: 'arr-p-p';
$arr-p-p-x: 94px;
$arr-p-p-y: 32px;
$arr-p-p-offset-x: -94px;
$arr-p-p-offset-y: -32px;
$arr-p-p-width: 15px;
$arr-p-p-height: 23px;
$arr-p-p-total-width: 210px;
$arr-p-p-total-height: 194px;
$arr-p-p-image: 'sprite.png';
$arr-p-p: (94px, 32px, -94px, -32px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-p-p', );
$arr-prev-blue-calendar-name: 'arr-prev-blue-calendar';
$arr-prev-blue-calendar-x: 82px;
$arr-prev-blue-calendar-y: 165px;
$arr-prev-blue-calendar-offset-x: -82px;
$arr-prev-blue-calendar-offset-y: -165px;
$arr-prev-blue-calendar-width: 6px;
$arr-prev-blue-calendar-height: 10px;
$arr-prev-blue-calendar-total-width: 210px;
$arr-prev-blue-calendar-total-height: 194px;
$arr-prev-blue-calendar-image: 'sprite.png';
$arr-prev-blue-calendar: (82px, 165px, -82px, -165px, 6px, 10px, 210px, 194px, 'sprite.png', 'arr-prev-blue-calendar', );
$arr-r-a-name: 'arr-r-a';
$arr-r-a-x: 140px;
$arr-r-a-y: 84px;
$arr-r-a-offset-x: -140px;
$arr-r-a-offset-y: -84px;
$arr-r-a-width: 15px;
$arr-r-a-height: 23px;
$arr-r-a-total-width: 210px;
$arr-r-a-total-height: 194px;
$arr-r-a-image: 'sprite.png';
$arr-r-a: (140px, 84px, -140px, -84px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-r-a', );
$arr-r-d-name: 'arr-r-d';
$arr-r-d-x: 0px;
$arr-r-d-y: 119px;
$arr-r-d-offset-x: 0px;
$arr-r-d-offset-y: -119px;
$arr-r-d-width: 15px;
$arr-r-d-height: 23px;
$arr-r-d-total-width: 210px;
$arr-r-d-total-height: 194px;
$arr-r-d-image: 'sprite.png';
$arr-r-d: (0px, 119px, 0px, -119px, 15px, 23px, 210px, 194px, 'sprite.png', 'arr-r-d', );
$arr-t-w-name: 'arr-t-w';
$arr-t-w-x: 85px;
$arr-t-w-y: 147px;
$arr-t-w-offset-x: -85px;
$arr-t-w-offset-y: -147px;
$arr-t-w-width: 13px;
$arr-t-w-height: 10px;
$arr-t-w-total-width: 210px;
$arr-t-w-total-height: 194px;
$arr-t-w-image: 'sprite.png';
$arr-t-w: (85px, 147px, -85px, -147px, 13px, 10px, 210px, 194px, 'sprite.png', 'arr-t-w', );
$arr-up-name: 'arr-up';
$arr-up-x: 198px;
$arr-up-y: 87px;
$arr-up-offset-x: -198px;
$arr-up-offset-y: -87px;
$arr-up-width: 12px;
$arr-up-height: 9px;
$arr-up-total-width: 210px;
$arr-up-total-height: 194px;
$arr-up-image: 'sprite.png';
$arr-up: (198px, 87px, -198px, -87px, 12px, 9px, 210px, 194px, 'sprite.png', 'arr-up', );
$b-m-name: 'b-m';
$b-m-x: 86px;
$b-m-y: 119px;
$b-m-offset-x: -86px;
$b-m-offset-y: -119px;
$b-m-width: 17px;
$b-m-height: 16px;
$b-m-total-width: 210px;
$b-m-total-height: 194px;
$b-m-image: 'sprite.png';
$b-m: (86px, 119px, -86px, -119px, 17px, 16px, 210px, 194px, 'sprite.png', 'b-m', );
$back-name: 'back';
$back-x: 65px;
$back-y: 147px;
$back-offset-x: -65px;
$back-offset-y: -147px;
$back-width: 15px;
$back-height: 10px;
$back-total-width: 210px;
$back-total-height: 194px;
$back-image: 'sprite.png';
$back: (65px, 147px, -65px, -147px, 15px, 10px, 210px, 194px, 'sprite.png', 'back', );
$balance-a-name: 'balance-a';
$balance-a-x: 82px;
$balance-a-y: 65px;
$balance-a-offset-x: -82px;
$balance-a-offset-y: -65px;
$balance-a-width: 20px;
$balance-a-height: 20px;
$balance-a-total-width: 210px;
$balance-a-total-height: 194px;
$balance-a-image: 'sprite.png';
$balance-a: (82px, 65px, -82px, -65px, 20px, 20px, 210px, 194px, 'sprite.png', 'balance-a', );
$balance-name: 'balance';
$balance-x: 0px;
$balance-y: 94px;
$balance-offset-x: 0px;
$balance-offset-y: -94px;
$balance-width: 20px;
$balance-height: 20px;
$balance-total-width: 210px;
$balance-total-height: 194px;
$balance-image: 'sprite.png';
$balance: (0px, 94px, 0px, -94px, 20px, 20px, 210px, 194px, 'sprite.png', 'balance', );
$calendar-name: 'calendar';
$calendar-x: 20px;
$calendar-y: 119px;
$calendar-offset-x: -20px;
$calendar-offset-y: -119px;
$calendar-width: 17px;
$calendar-height: 20px;
$calendar-total-width: 210px;
$calendar-total-height: 194px;
$calendar-image: 'sprite.png';
$calendar: (20px, 119px, -20px, -119px, 17px, 20px, 210px, 194px, 'sprite.png', 'calendar', );
$calendar2-a-name: 'calendar2-a';
$calendar2-a-x: 179px;
$calendar2-a-y: 38px;
$calendar2-a-offset-x: -179px;
$calendar2-a-offset-y: -38px;
$calendar2-a-width: 13px;
$calendar2-a-height: 14px;
$calendar2-a-total-width: 210px;
$calendar2-a-total-height: 194px;
$calendar2-a-image: 'sprite.png';
$calendar2-a: (179px, 38px, -179px, -38px, 13px, 14px, 210px, 194px, 'sprite.png', 'calendar2-a', );
$calendar2-name: 'calendar2';
$calendar2-x: 179px;
$calendar2-y: 75px;
$calendar2-offset-x: -179px;
$calendar2-offset-y: -75px;
$calendar2-width: 13px;
$calendar2-height: 14px;
$calendar2-total-width: 210px;
$calendar2-total-height: 194px;
$calendar2-image: 'sprite.png';
$calendar2: (179px, 75px, -179px, -75px, 13px, 14px, 210px, 194px, 'sprite.png', 'calendar2', );
$car-name: 'car';
$car-x: 41px;
$car-y: 165px;
$car-offset-x: -41px;
$car-offset-y: -165px;
$car-width: 16px;
$car-height: 11px;
$car-total-width: 210px;
$car-total-height: 194px;
$car-image: 'sprite.png';
$car: (41px, 165px, -41px, -165px, 16px, 11px, 210px, 194px, 'sprite.png', 'car', );
$car2-name: 'car2';
$car2-x: 20px;
$car2-y: 165px;
$car2-offset-x: -20px;
$car2-offset-y: -165px;
$car2-width: 16px;
$car2-height: 11px;
$car2-total-width: 210px;
$car2-total-height: 194px;
$car2-image: 'sprite.png';
$car2: (20px, 165px, -20px, -165px, 16px, 11px, 210px, 194px, 'sprite.png', 'car2', );
$check-name: 'check';
$check-x: 0px;
$check-y: 165px;
$check-offset-x: 0px;
$check-offset-y: -165px;
$check-width: 15px;
$check-height: 12px;
$check-total-width: 210px;
$check-total-height: 194px;
$check-image: 'sprite.png';
$check: (0px, 165px, 0px, -165px, 15px, 12px, 210px, 194px, 'sprite.png', 'check', );
$check2-name: 'check2';
$check2-x: 160px;
$check2-y: 62px;
$check2-offset-x: -160px;
$check2-offset-y: -62px;
$check2-width: 14px;
$check2-height: 14px;
$check2-total-width: 210px;
$check2-total-height: 194px;
$check2-image: 'sprite.png';
$check2: (160px, 62px, -160px, -62px, 14px, 14px, 210px, 194px, 'sprite.png', 'check2', );
$close-popup-name: 'close-popup';
$close-popup-x: 136px;
$close-popup-y: 147px;
$close-popup-offset-x: -136px;
$close-popup-offset-y: -147px;
$close-popup-width: 11px;
$close-popup-height: 9px;
$close-popup-total-width: 210px;
$close-popup-total-height: 194px;
$close-popup-image: 'sprite.png';
$close-popup: (136px, 147px, -136px, -147px, 11px, 9px, 210px, 194px, 'sprite.png', 'close-popup', );
$close-select-name: 'close-select';
$close-select-x: 120px;
$close-select-y: 147px;
$close-select-offset-x: -120px;
$close-select-offset-y: -147px;
$close-select-width: 11px;
$close-select-height: 9px;
$close-select-total-width: 210px;
$close-select-total-height: 194px;
$close-select-image: 'sprite.png';
$close-select: (120px, 147px, -120px, -147px, 11px, 9px, 210px, 194px, 'sprite.png', 'close-select', );
$drop1-name: 'drop1';
$drop1-x: 179px;
$drop1-y: 0px;
$drop1-offset-x: -179px;
$drop1-offset-y: 0px;
$drop1-width: 14px;
$drop1-height: 14px;
$drop1-total-width: 210px;
$drop1-total-height: 194px;
$drop1-image: 'sprite.png';
$drop1: (179px, 0px, -179px, 0px, 14px, 14px, 210px, 194px, 'sprite.png', 'drop1', );
$drop2-name: 'drop2';
$drop2-x: 160px;
$drop2-y: 100px;
$drop2-offset-x: -160px;
$drop2-offset-y: -100px;
$drop2-width: 14px;
$drop2-height: 14px;
$drop2-total-width: 210px;
$drop2-total-height: 194px;
$drop2-image: 'sprite.png';
$drop2: (160px, 100px, -160px, -100px, 14px, 14px, 210px, 194px, 'sprite.png', 'drop2', );
$exit-name: 'exit';
$exit-x: 160px;
$exit-y: 0px;
$exit-offset-x: -160px;
$exit-offset-y: 0px;
$exit-width: 14px;
$exit-height: 17px;
$exit-total-width: 210px;
$exit-total-height: 194px;
$exit-image: 'sprite.png';
$exit: (160px, 0px, -160px, 0px, 14px, 17px, 210px, 194px, 'sprite.png', 'exit', );
$exit2-a-name: 'exit2-a';
$exit2-a-x: 198px;
$exit2-a-y: 17px;
$exit2-a-offset-x: -198px;
$exit2-a-offset-y: -17px;
$exit2-a-width: 12px;
$exit2-a-height: 11px;
$exit2-a-total-width: 210px;
$exit2-a-total-height: 194px;
$exit2-a-image: 'sprite.png';
$exit2-a: (198px, 17px, -198px, -17px, 12px, 11px, 210px, 194px, 'sprite.png', 'exit2-a', );
$exit2-name: 'exit2';
$exit2-x: 198px;
$exit2-y: 33px;
$exit2-offset-x: -198px;
$exit2-offset-y: -33px;
$exit2-width: 12px;
$exit2-height: 11px;
$exit2-total-width: 210px;
$exit2-total-height: 194px;
$exit2-image: 'sprite.png';
$exit2: (198px, 33px, -198px, -33px, 12px, 11px, 210px, 194px, 'sprite.png', 'exit2', );
$extract-a-name: 'extract-a';
$extract-a-x: 198px;
$extract-a-y: 101px;
$extract-a-offset-x: -198px;
$extract-a-offset-y: -101px;
$extract-a-width: 9px;
$extract-a-height: 12px;
$extract-a-total-width: 210px;
$extract-a-total-height: 194px;
$extract-a-image: 'sprite.png';
$extract-a: (198px, 101px, -198px, -101px, 9px, 12px, 210px, 194px, 'sprite.png', 'extract-a', );
$extract-name: 'extract';
$extract-x: 198px;
$extract-y: 118px;
$extract-offset-x: -198px;
$extract-offset-y: -118px;
$extract-width: 9px;
$extract-height: 12px;
$extract-total-width: 210px;
$extract-total-height: 194px;
$extract-image: 'sprite.png';
$extract: (198px, 118px, -198px, -118px, 9px, 12px, 210px, 194px, 'sprite.png', 'extract', );
$file-2-name: 'file-2';
$file-2-x: 0px;
$file-2-y: 182px;
$file-2-offset-x: 0px;
$file-2-offset-y: -182px;
$file-2-width: 9px;
$file-2-height: 12px;
$file-2-total-width: 210px;
$file-2-total-height: 194px;
$file-2-image: 'sprite.png';
$file-2: (0px, 182px, 0px, -182px, 9px, 12px, 210px, 194px, 'sprite.png', 'file-2', );
$file-name: 'file';
$file-x: 179px;
$file-y: 57px;
$file-offset-x: -179px;
$file-offset-y: -57px;
$file-width: 14px;
$file-height: 13px;
$file-total-width: 210px;
$file-total-height: 194px;
$file-image: 'sprite.png';
$file: (179px, 57px, -179px, -57px, 14px, 13px, 210px, 194px, 'sprite.png', 'file', );
$g-c-name: 'g-c';
$g-c-x: 160px;
$g-c-y: 119px;
$g-c-offset-x: -160px;
$g-c-offset-y: -119px;
$g-c-width: 14px;
$g-c-height: 14px;
$g-c-total-width: 210px;
$g-c-total-height: 194px;
$g-c-image: 'sprite.png';
$g-c: (160px, 119px, -160px, -119px, 14px, 14px, 210px, 194px, 'sprite.png', 'g-c', );
$g-m-name: 'g-m';
$g-m-x: 108px;
$g-m-y: 119px;
$g-m-offset-x: -108px;
$g-m-offset-y: -119px;
$g-m-width: 17px;
$g-m-height: 16px;
$g-m-total-width: 210px;
$g-m-total-height: 194px;
$g-m-image: 'sprite.png';
$g-m: (108px, 119px, -108px, -119px, 17px, 16px, 210px, 194px, 'sprite.png', 'g-m', );
$house-name: 'house';
$house-x: 179px;
$house-y: 94px;
$house-offset-x: -179px;
$house-offset-y: -94px;
$house-width: 12px;
$house-height: 13px;
$house-total-width: 210px;
$house-total-height: 194px;
$house-image: 'sprite.png';
$house: (179px, 94px, -179px, -94px, 12px, 13px, 210px, 194px, 'sprite.png', 'house', );
$house2-name: 'house2';
$house2-x: 179px;
$house2-y: 112px;
$house2-offset-x: -179px;
$house2-offset-y: -112px;
$house2-width: 12px;
$house2-height: 13px;
$house2-total-width: 210px;
$house2-total-height: 194px;
$house2-image: 'sprite.png';
$house2: (179px, 112px, -179px, -112px, 12px, 13px, 210px, 194px, 'sprite.png', 'house2', );
$log-d-name: 'log-d';
$log-d-x: 198px;
$log-d-y: 135px;
$log-d-offset-x: -198px;
$log-d-offset-y: -135px;
$log-d-width: 12px;
$log-d-height: 9px;
$log-d-total-width: 210px;
$log-d-total-height: 194px;
$log-d-image: 'sprite.png';
$log-d: (198px, 135px, -198px, -135px, 12px, 9px, 210px, 194px, 'sprite.png', 'log-d', );
$log-name: 'log';
$log-x: 198px;
$log-y: 149px;
$log-offset-x: -198px;
$log-offset-y: -149px;
$log-width: 12px;
$log-height: 9px;
$log-total-width: 210px;
$log-total-height: 194px;
$log-image: 'sprite.png';
$log: (198px, 149px, -198px, -149px, 12px, 9px, 210px, 194px, 'sprite.png', 'log', );
$men-d-name: 'men-d';
$men-d-x: 114px;
$men-d-y: 52px;
$men-d-offset-x: -114px;
$men-d-offset-y: -52px;
$men-d-width: 21px;
$men-d-height: 21px;
$men-d-total-width: 210px;
$men-d-total-height: 194px;
$men-d-image: 'sprite.png';
$men-d: (114px, 52px, -114px, -52px, 21px, 21px, 210px, 194px, 'sprite.png', 'men-d', );
$men-w-name: 'men-w';
$men-w-x: 114px;
$men-w-y: 0px;
$men-w-offset-x: -114px;
$men-w-offset-y: 0px;
$men-w-width: 21px;
$men-w-height: 21px;
$men-w-total-width: 210px;
$men-w-total-height: 194px;
$men-w-image: 'sprite.png';
$men-w: (114px, 0px, -114px, 0px, 21px, 21px, 210px, 194px, 'sprite.png', 'men-w', );
$men-name: 'men';
$men-x: 114px;
$men-y: 26px;
$men-offset-x: -114px;
$men-offset-y: -26px;
$men-width: 21px;
$men-height: 21px;
$men-total-width: 210px;
$men-total-height: 194px;
$men-image: 'sprite.png';
$men: (114px, 26px, -114px, -26px, 21px, 21px, 210px, 194px, 'sprite.png', 'men', );
$men2-name: 'men2';
$men2-x: 179px;
$men2-y: 147px;
$men2-offset-x: -179px;
$men2-offset-y: -147px;
$men2-width: 12px;
$men2-height: 12px;
$men2-total-width: 210px;
$men2-total-height: 194px;
$men2-image: 'sprite.png';
$men2: (179px, 147px, -179px, -147px, 12px, 12px, 210px, 194px, 'sprite.png', 'men2', );
$men3-name: 'men3';
$men3-x: 198px;
$men3-y: 0px;
$men3-offset-x: -198px;
$men3-offset-y: 0px;
$men3-width: 12px;
$men3-height: 12px;
$men3-total-width: 210px;
$men3-total-height: 194px;
$men3-image: 'sprite.png';
$men3: (198px, 0px, -198px, 0px, 12px, 12px, 210px, 194px, 'sprite.png', 'men3', );
$mess-name: 'mess';
$mess-x: 62px;
$mess-y: 165px;
$mess-offset-x: -62px;
$mess-offset-y: -165px;
$mess-width: 15px;
$mess-height: 11px;
$mess-total-width: 210px;
$mess-total-height: 194px;
$mess-image: 'sprite.png';
$mess: (62px, 165px, -62px, -165px, 15px, 11px, 210px, 194px, 'sprite.png', 'mess', );
$nav-left-name: 'nav-left';
$nav-left-x: 114px;
$nav-left-y: 78px;
$nav-left-offset-x: -114px;
$nav-left-offset-y: -78px;
$nav-left-width: 18px;
$nav-left-height: 10px;
$nav-left-total-width: 210px;
$nav-left-total-height: 194px;
$nav-left-image: 'sprite.png';
$nav-left: (114px, 78px, -114px, -78px, 18px, 10px, 210px, 194px, 'sprite.png', 'nav-left', );
$nav-right-name: 'nav-right';
$nav-right-x: 42px;
$nav-right-y: 147px;
$nav-right-offset-x: -42px;
$nav-right-offset-y: -147px;
$nav-right-width: 18px;
$nav-right-height: 10px;
$nav-right-total-width: 210px;
$nav-right-total-height: 194px;
$nav-right-image: 'sprite.png';
$nav-right: (42px, 147px, -42px, -147px, 18px, 10px, 210px, 194px, 'sprite.png', 'nav-right', );
$next-date-name: 'next-date';
$next-date-x: 65px;
$next-date-y: 0px;
$next-date-offset-x: -65px;
$next-date-offset-y: 0px;
$next-date-width: 44px;
$next-date-height: 27px;
$next-date-total-width: 210px;
$next-date-total-height: 194px;
$next-date-image: 'sprite.png';
$next-date: (65px, 0px, -65px, 0px, 44px, 27px, 210px, 194px, 'sprite.png', 'next-date', );
$pen-a-name: 'pen-a';
$pen-a-x: 198px;
$pen-a-y: 68px;
$pen-a-offset-x: -198px;
$pen-a-offset-y: -68px;
$pen-a-width: 9px;
$pen-a-height: 14px;
$pen-a-total-width: 210px;
$pen-a-total-height: 194px;
$pen-a-image: 'sprite.png';
$pen-a: (198px, 68px, -198px, -68px, 9px, 14px, 210px, 194px, 'sprite.png', 'pen-a', );
$pen-name: 'pen';
$pen-x: 198px;
$pen-y: 49px;
$pen-offset-x: -198px;
$pen-offset-y: -49px;
$pen-width: 9px;
$pen-height: 14px;
$pen-total-width: 210px;
$pen-total-height: 194px;
$pen-image: 'sprite.png';
$pen: (198px, 49px, -198px, -49px, 9px, 14px, 210px, 194px, 'sprite.png', 'pen', );
$play-name: 'play';
$play-x: 0px;
$play-y: 0px;
$play-offset-x: 0px;
$play-offset-y: 0px;
$play-width: 60px;
$play-height: 60px;
$play-total-width: 210px;
$play-total-height: 194px;
$play-image: 'sprite.png';
$play: (0px, 0px, 0px, 0px, 60px, 60px, 210px, 194px, 'sprite.png', 'play', );
$prev-date-name: 'prev-date';
$prev-date-x: 0px;
$prev-date-y: 65px;
$prev-date-offset-x: 0px;
$prev-date-offset-y: -65px;
$prev-date-width: 48px;
$prev-date-height: 24px;
$prev-date-total-width: 210px;
$prev-date-total-height: 194px;
$prev-date-image: 'sprite.png';
$prev-date: (0px, 65px, 0px, -65px, 48px, 24px, 210px, 194px, 'sprite.png', 'prev-date', );
$prev-name: 'prev';
$prev-x: 130px;
$prev-y: 119px;
$prev-offset-x: -130px;
$prev-offset-y: -119px;
$prev-width: 16px;
$prev-height: 14px;
$prev-total-width: 210px;
$prev-total-height: 194px;
$prev-image: 'sprite.png';
$prev: (130px, 119px, -130px, -119px, 16px, 14px, 210px, 194px, 'sprite.png', 'prev', );
$print-name: 'print';
$print-x: 25px;
$print-y: 94px;
$print-offset-x: -25px;
$print-offset-y: -94px;
$print-width: 20px;
$print-height: 20px;
$print-total-width: 210px;
$print-total-height: 194px;
$print-image: 'sprite.png';
$print: (25px, 94px, -25px, -94px, 20px, 20px, 210px, 194px, 'sprite.png', 'print', );
$r-c-name: 'r-c';
$r-c-x: 160px;
$r-c-y: 43px;
$r-c-offset-x: -160px;
$r-c-offset-y: -43px;
$r-c-width: 14px;
$r-c-height: 14px;
$r-c-total-width: 210px;
$r-c-total-height: 194px;
$r-c-image: 'sprite.png';
$r-c: (160px, 43px, -160px, -43px, 14px, 14px, 210px, 194px, 'sprite.png', 'r-c', );
$r-m-name: 'r-m';
$r-m-x: 64px;
$r-m-y: 119px;
$r-m-offset-x: -64px;
$r-m-offset-y: -119px;
$r-m-width: 17px;
$r-m-height: 16px;
$r-m-total-width: 210px;
$r-m-total-height: 194px;
$r-m-image: 'sprite.png';
$r-m: (64px, 119px, -64px, -119px, 17px, 16px, 210px, 194px, 'sprite.png', 'r-m', );
$r-r-name: 'r-r';
$r-r-x: 160px;
$r-r-y: 81px;
$r-r-offset-x: -160px;
$r-r-offset-y: -81px;
$r-r-width: 14px;
$r-r-height: 14px;
$r-r-total-width: 210px;
$r-r-total-height: 194px;
$r-r-image: 'sprite.png';
$r-r: (160px, 81px, -160px, -81px, 14px, 14px, 210px, 194px, 'sprite.png', 'r-r', );
$remove-name: 'remove';
$remove-x: 179px;
$remove-y: 130px;
$remove-offset-x: -179px;
$remove-offset-y: -130px;
$remove-width: 12px;
$remove-height: 12px;
$remove-total-width: 210px;
$remove-total-height: 194px;
$remove-image: 'sprite.png';
$remove: (179px, 130px, -179px, -130px, 12px, 12px, 210px, 194px, 'sprite.png', 'remove', );
$rubl-name: 'rubl';
$rubl-x: 198px;
$rubl-y: 163px;
$rubl-offset-x: -198px;
$rubl-offset-y: -163px;
$rubl-width: 9px;
$rubl-height: 12px;
$rubl-total-width: 210px;
$rubl-total-height: 194px;
$rubl-image: 'sprite.png';
$rubl: (198px, 163px, -198px, -163px, 9px, 12px, 210px, 194px, 'sprite.png', 'rubl', );
$select-arr-d-name: 'select-arr-d';
$select-arr-d-x: 82px;
$select-arr-d-y: 107px;
$select-arr-d-offset-x: -82px;
$select-arr-d-offset-y: -107px;
$select-arr-d-width: 8px;
$select-arr-d-height: 5px;
$select-arr-d-total-width: 210px;
$select-arr-d-total-height: 194px;
$select-arr-d-image: 'sprite.png';
$select-arr-d: (82px, 107px, -82px, -107px, 8px, 5px, 210px, 194px, 'sprite.png', 'select-arr-d', );
$select-arr-u-name: 'select-arr-u';
$select-arr-u-x: 95px;
$select-arr-u-y: 107px;
$select-arr-u-offset-x: -95px;
$select-arr-u-offset-y: -107px;
$select-arr-u-width: 8px;
$select-arr-u-height: 5px;
$select-arr-u-total-width: 210px;
$select-arr-u-total-height: 194px;
$select-arr-u-image: 'sprite.png';
$select-arr-u: (95px, 107px, -95px, -107px, 8px, 5px, 210px, 194px, 'sprite.png', 'select-arr-u', );
$send-name: 'send';
$send-x: 53px;
$send-y: 65px;
$send-offset-x: -53px;
$send-offset-y: -65px;
$send-width: 24px;
$send-height: 20px;
$send-total-width: 210px;
$send-total-height: 194px;
$send-image: 'sprite.png';
$send: (53px, 65px, -53px, -65px, 24px, 20px, 210px, 194px, 'sprite.png', 'send', );
$sub-info-name: 'sub-info';
$sub-info-x: 160px;
$sub-info-y: 22px;
$sub-info-offset-x: -160px;
$sub-info-offset-y: -22px;
$sub-info-width: 14px;
$sub-info-height: 16px;
$sub-info-total-width: 210px;
$sub-info-total-height: 194px;
$sub-info-image: 'sprite.png';
$sub-info: (160px, 22px, -160px, -22px, 14px, 16px, 210px, 194px, 'sprite.png', 'sub-info', );
$tel-d-name: 'tel-d';
$tel-d-x: 0px;
$tel-d-y: 147px;
$tel-d-offset-x: 0px;
$tel-d-offset-y: -147px;
$tel-d-width: 16px;
$tel-d-height: 13px;
$tel-d-total-width: 210px;
$tel-d-total-height: 194px;
$tel-d-image: 'sprite.png';
$tel-d: (0px, 147px, 0px, -147px, 16px, 13px, 210px, 194px, 'sprite.png', 'tel-d', );
$tel-name: 'tel';
$tel-x: 21px;
$tel-y: 147px;
$tel-offset-x: -21px;
$tel-offset-y: -147px;
$tel-width: 16px;
$tel-height: 13px;
$tel-total-width: 210px;
$tel-total-height: 194px;
$tel-image: 'sprite.png';
$tel: (21px, 147px, -21px, -147px, 16px, 13px, 210px, 194px, 'sprite.png', 'tel', );
$y-c-name: 'y-c';
$y-c-x: 179px;
$y-c-y: 19px;
$y-c-offset-x: -179px;
$y-c-offset-y: -19px;
$y-c-width: 14px;
$y-c-height: 14px;
$y-c-total-width: 210px;
$y-c-total-height: 194px;
$y-c-image: 'sprite.png';
$y-c: (179px, 19px, -179px, -19px, 14px, 14px, 210px, 194px, 'sprite.png', 'y-c', );
$y-m-name: 'y-m';
$y-m-x: 42px;
$y-m-y: 119px;
$y-m-offset-x: -42px;
$y-m-offset-y: -119px;
$y-m-width: 17px;
$y-m-height: 16px;
$y-m-total-width: 210px;
$y-m-total-height: 194px;
$y-m-image: 'sprite.png';
$y-m: (42px, 119px, -42px, -119px, 17px, 16px, 210px, 194px, 'sprite.png', 'y-m', );
$zoom-name: 'zoom';
$zoom-x: 65px;
$zoom-y: 32px;
$zoom-offset-x: -65px;
$zoom-offset-y: -32px;
$zoom-width: 24px;
$zoom-height: 27px;
$zoom-total-width: 210px;
$zoom-total-height: 194px;
$zoom-image: 'sprite.png';
$zoom: (65px, 32px, -65px, -32px, 24px, 27px, 210px, 194px, 'sprite.png', 'zoom', );
$spritesheet-width: 210px;
$spritesheet-height: 194px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arr-b-s-d, $arr-b-s-u, $arr-b, $arr-down, $arr-drop, $arr-drop2, $arr-l-a, $arr-l-d, $arr-n-p, $arr-next-blue-calendar, $arr-p-p, $arr-prev-blue-calendar, $arr-r-a, $arr-r-d, $arr-t-w, $arr-up, $b-m, $back, $balance-a, $balance, $calendar, $calendar2-a, $calendar2, $car, $car2, $check, $check2, $close-popup, $close-select, $drop1, $drop2, $exit, $exit2-a, $exit2, $extract-a, $extract, $file-2, $file, $g-c, $g-m, $house, $house2, $log-d, $log, $men-d, $men-w, $men, $men2, $men3, $mess, $nav-left, $nav-right, $next-date, $pen-a, $pen, $play, $prev-date, $prev, $print, $r-c, $r-m, $r-r, $remove, $rubl, $select-arr-d, $select-arr-u, $send, $sub-info, $tel-d, $tel, $y-c, $y-m, $zoom, );
$spritesheet: (210px, 194px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
